body {
    background: #F0F0F0
}

#loginCard {
    width: 400px;
 }

.modal {
    width: 300px;
}

.col {
    width: auto;
    margin-left: auto;
}

input[type=submit] {
    color: white;
}


.logout {
    right: 0;
    position: absolute;
}